{include file="user@login/addheader" /}

<form id="lotform" action="{:url('/estate/Estate/saveParklot')}" method="post" tableId="lottable" class="form-horizontal">
    <div class="modal-body">

        <div class="form-group">
            <span><label class="col-sm-4 control-label" for="areaNo">区域编号</label>
            <div class="col-sm-8">
                <select data-placeholder="选择区域" class="chosen-select col-sm-12 opt-require" tabindex="2" name="areaNo" id="areaNo">
                    {:widget("user/HtmlWidget/initDictSelect",['con'=>array('code'=>array('like','1015%'),'level'=>'2','iqbtId'=>session('iqbtId')),'default'=>isset($data['areaNo'])?$data['areaNo']:''])}
                </select>
            </div></span>
        </div>

        <div class="form-group">
            <span><label class="col-sm-4 control-label" for="parkNo">车位编号</label>
            <div class="col-sm-8">
                {if condition='empty($data.id)'}
                <textarea id="parkNo" name="parkNo" class="form-control require" table="EstateParklot" placeholder="车位编号，一行一个，可多个添加" style="height:100px;">{$data.parkNo|default=''}</textarea>
                {else /}
                <input id="parkNo" name="parkNo" class="form-control require iqbtunique" table="EstateParklot" value="{$data.parkNo|default=''}" placeholder="车位编号">
                {/if}
            </div></span>
        </div>
    </div>
    <div class="modal-footer">
        <input type="hidden" id="id" name="id" value="{$data.id|default='0'}">
        <button type="button" class="btn btn-primary btn-save" id="btnsave"><i class="fa fa-save"></i> <span
                class="bold">保存</span></button>
        <button type="button" class="btn btn-glyph" data-dismiss="modal"><i class="fa fa-close"></i> <span class="bold">关闭</span>
        </button>
    </div>
</form>
