{include file="index@index/header" /}
<!--日历控件-->
<link href='__PLUG__/fullcalendar/fullcalendar.min.css' rel='stylesheet' />
<script src='__PLUG__/fullcalendar/lib/moment.min.js'></script>
<script src='__PLUG__/fullcalendar/fullcalendar.min.js'></script>
<script src='__PLUG__/fullcalendar/locale/zh-cn.js'></script>
<style type="text/css">
    #addnote {
        background-color: #23c6c8;
        color: #FFF;
        cursor: pointer;
    }
    .sidebard-panel{
        padding-left: 0px;;
    }
    ul.notes{
        padding-left: 15px;;
    }
    ul.notes li {
        float: left;
        margin: 10px 0px 15px 0px;
    }
    ul.notes li div a.notedelt {
        position: absolute;
        right: 10px;
        bottom: 10px;
        color: inherit;
    }
    ul.notes li div a.noteedit {
        position: absolute;
        right: 30px;
        bottom: 10px;
        color: inherit;
    }
</style>
<script type="text/javascript">
    $(function(){
        initFullCalendar();
        /*$("#addnote").click(function(){
            var url="{:url('/index/Index/addnotes')}";
            baseadd(url,"添加便签","");
        });
        initNotes();*/
    });
    var f=1;
    function initFullCalendar(){
        var url="{:url('/index/Common/initCalendar')}";
        $('#calendar').fullCalendar('destroy');
        $.post(url, function(data) {
            $("#calendar").fullCalendar({
                header:{left:"prev,next today",center:"title",right:"month,agendaWeek,agendaDay,listMonth"},
                timeFormat: 'H:mm',//24小时制
                contentHeight:400,
                eventLimit: true, // allow "more" link when too many events
                events:data,
                dayClick: function(date, allDay, jsEvent, view) {
                    if(f){
                        f=0;
                        var startDate=parseInt(date/1000);
                        addSchedule({startDate:startDate});
                    }

                },
                eventClick:function(event){
                    var id=event.id;
                    addSchedule({id:id});
                }
            });
        });
    }
    function initNotes(){
        var url="{:url('/Oa/getNotes')}";
        $.post(url, function(data) {
            var html="";
            if(data.length>0){
                for (var i = 0; i < data.length; i++) {
                    var obj = data[i];
                    html=html+'<li>'+
                    '<div>'+
                    '<small>'+obj.addtime+'</small>'+
                    '<h4>'+obj.title+'</h4>'+
                    '<p>'+obj.desc+'</p>'+
                    '<a href="#" onclick="deltnote('+obj.id+')" class="notedelt"><i class="fa fa-trash-o"></i></a>'+
                    '<a href="#" onclick="editnote('+obj.id+')" class="noteedit"><i class="fa fa-edit"></i></a>'+
                    '</div>'+
                    '</li>';
                }
            }
            $("#noteul").html(html);
        });
    }
    function addSchedule(params){
        var url="{:url('/index/Index/addEtprsSchedule')}";
        $.post(url, params,function(data) {
            show_modal("添加日程安排",data,"");
            f=1;
        });
    }
    function editnote(id){
        var url="{:url('/index/Index/addnotes')}";
        if(id!=null){
            $.post(url,{id:id}, function(data) {
                show_modal("编辑便签",data,"");
            });
        }
    }
    function deltnote(id){
        var url="{:url('/index/Index/delNotes')}";
        $.post(url, {id: id}, function (data) {
            if (data.code == 1) {
                initNotes();
            }else if(data.code == 0){
                toastr.warning(data.msg);
            }else{
                toastr.error(data.msg);
            }
        });
    }
</script>
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row">
        {include file="index@index/nav" /}
    </div>

<!--<div class="sidebard-panel">
    <h4>便签墙 <span class="badge badge-info pull-right" id="addnote">新增</span></h4>
    <ul class="notes" id="noteul">

    </ul>

</div>-->

<div class="wrapper wrapper-content">
    <div class="row" style="margin-bottom: 12px;">
        <div class="col-sm-12">
            <div id="calendar"></div>
        </div>
    </div>
</div>
</div>
