{include file="index@index/header" /}
<!--右侧部分开始-->
<link href="__PLUG__/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<script src="__PLUG__/bootstrap-table/bootstrap-table.min.js"></script>
<!--时间选择-->
<link href='__PLUG__/datepicker/css/bootstrap-datetimepicker.min.css' rel='stylesheet' />
<script src="__PLUG__/datepicker/js/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript"> $(function () {

    //时间初始化
    $(".datepicker").datetimepicker({minView:"month",autoclose:!0,todayBtn:!0,forceParse:!0,format:"yyyy-mm-dd"});

    $("#btnapl").click(function(){
        var username=$("#username").val();
        var typeid=$("#typeid").val();
        var etprsname=$("#etprsname").val();
        var time_start = $('#time_start').val();
        var time_end = $('#time_end').val();
        var param=new Object();
        if(username!=""){
            param.username=username;
        }
        if(typeid!=""){
            param.typeid=typeid;
        }
        if(etprsname!=""){
            param.etprsname=etprsname;
        }
        if(time_start !=""){
            param.time_start = time_start;
        }
        if(time_end !=""){
            param.time_end = time_end;
        }
        $('#logTable').bootstrapTable('refresh',{query: param});
    });
});

</script>



<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row">
        {include file="index@index/nav" /}
    </div>
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="tabs-container">
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-content" style="border:none;">
                                                <div class="row">
                                                    <div class="col-sm-12 m-b-xs">
                                                        <span>管理员：</span>
                                                        <input type="text" placeholder="管理员真实姓名" class="input-sm form-control" id="username">

                                                        <span>日志类别：</span>
                                                        <select id="typeid" style="height:30px;line-height:30px;" >
                                                            <option value="">--请选择--</option>
                                                            {volist name="typedata" id="vo"}
                                                                <option value="{$vo.id}">{$vo.name}</option>
                                                            {/volist}
                                                        </select>
                                                        <span>对应企业：</span>
                                                        <input type="text" placeholder="企业名称" class="input-sm form-control" id="etprsname">
                                                        <span>添加时间：</span>
                                                        <input type="text"  placeholder="开始时间" class="form-control datepicker"  name="time_start" id="time_start">
                                                        <input type="text" placeholder="结束时间" class="form-control datepicker " name="time_end" id="time_end">
                                                        <button type="button" class="btn btn-primary btn-sm" id="btnapl">&nbsp;&nbsp;<i
                                                                class="fa fa-search"></i>&nbsp;&nbsp;查询&nbsp;&nbsp;
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="table-responsive">
                                                    <table id="logTable" class="resettable" data-toggle="table" data-url="{:url('/oa/Oa/getActionlog')}" data-search="false"
                                                           data-show-refresh="false" data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]" data-striped="true"
                                                           data-detail-view="false" >
                                                        <thead>
                                                        <tr>
                                                            <th  data-field="typename">日志类别</th>
                                                            <th data-field="username">管理员</th>
                                                            <th data-field="etprsname">对应企业</th>
                                                            <th data-field="content">说明</th>
                                                            <th data-field="addtime">添加时间</th>
                                                        </tr>
                                                        </thead>

                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--右侧部分结束-->
{include file="index@index/footer" /}