{include file="user@login/addheader" /}
<form id="suggestform" action="{:url('/oa/Oa/saveIntro')}" method="post" tableId="introTable" class="form-horizontal">
    <div class="modal-body">

        <div class="form-group">
            <label class="col-sm-4 control-label">部门名称：</label>
            <div class="col-sm-8">
                <input  type="text" class="form-control require" name="title" value="{$data.title|default=''}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">部门负责人：</label>
            <div class="col-sm-8">
                <input  type="text" class="form-control require" name="leader" value="{$data.leader|default=''}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">服务电话：</label>
            <div class="col-sm-8">
                <input  type="text" class="form-control require" name="mobile" value="{$data.mobile|default=''}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">部门职责：</label>
            <div class="col-sm-8">
                <textarea style="width:100%;" rows="5" class="form-control"  name="desc">{$data.desc|default=''}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">排序：</label>
            <div class="col-sm-8">
                <input  type="text" class="form-control" name="sort" value="{$data.sort|default='0'}">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="hidden" id="id" name="id" value="{$data.id|default='0'}">
        <button type="button" class="btn btn-primary btn-save" id="btnsave"><i class="fa fa-save"></i> <span
                class="bold">保存</span></button>
        <button type="button" class="btn btn-glyph" data-dismiss="modal"><i class="fa fa-close"></i> <span class="bold">关闭</span>
        </button>
    </div>
</form>
