{include file="index@index/header" /}
<!--右侧部分开始-->
<link href="__PLUG__/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<script src="__PLUG__/bootstrap-table/bootstrap-table.min.js"></script>
<link href="__PUBLIC__/ding/css/index.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/ding/css/font-awesome.css" rel="stylesheet" type="text/css">
<script type="text/javascript">

</script>



<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row">
        {include file="index@index/nav" /}
    </div>
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="tabs-container">
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box">
                                            <div class="box1">
                                                <h4>核心</h4>
                                                <p style="margin:10px 0 20px 0;">
                                                    <!--<span style="color:#38aeff;">青岛新视界网络有限公司</span>  ＞ 核心-->
                                                    {if condition="isset($data.depts)"}
                                                        {volist name="data.depts" id="dept" key="k"}
                                                            {if condition="$k=='1'"}
                                                                <a href="{:url('/oa/Oa/dingindex')}">{$dept.name}</a> ＞
                                                            {elseif condition="$k==count($data.depts)"/}
                                                                {$dept.name}
                                                            {else /}
                                                                <a href="{:url('/oa/Oa/dingcldDepts',array('deptId'=>$dept['dingId']))}">{$dept.name}</a> ＞
                                                            {/if}
                                                        {/volist}
                                                    {/if}
                                                </p>
                                                <h4><i class="fa fa-sitemap" aria-hidden="true"></i>&nbsp;&nbsp;下级部门</h4>
                                                <!--<div class="btn">
                                                    <button value="" style="margin-left:20px;">添加子部门</button>
                                                    <button value="">调整位置</button>
                                                </div>-->
                                                <ul>
                                                    {if condition="isset($data.cldDepts)"}
                                                    <ul>
                                                        {volist name="data.cldDepts" id="dept"}
                                                        <li><p><a href="{:url('/oa/Oa/dingcldDepts',array('deptId'=>$dept['dingId']))}">{$dept.name}</a></p><span> ＞ </span></li>
                                                        {/volist}
                                                    </ul>
                                                    {/if}
                                                </ul>
                                                <br>
                                                <h4><i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;部门人员</h4>
                                                <!--<div class="btn">
                                                    <button value="" style="margin-left:20px;background:#38aeff;color:#FFF;">添加成员</button>
                                                </div>-->
                                                <table>
                                                    {if condition="isset($data.staffs)"}
                                                    <ul>
                                                        {volist name="data.staffs" id="sta"}
                                                        <tr>
                                                            <th>{$sta.name}</th>
                                                            <th><a href="{:url('/oa/Oa/dingAttence',array('userId'=>$sta['userid'],'deptId'=>$sta['department']))}">打卡记录</a></th>
                                                        </tr>
                                                        {/volist}
                                                    </ul>
                                                    {/if}
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--右侧部分结束-->
{include file="index@index/footer" /}
