{include file="index@index/header" /}
<!--右侧部分开始-->
<link href="__PLUG__/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<script src="__PLUG__/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript"> $(function () {
    $("#btnapl").click(function(){
        var etprs=$("#newstitle").val();
        var apltype=$("#newstype").val();
        var param=new Object();
        if(etprs!=""){
            param.title=etprs;
        }

        if(apltype!=""){
            param.type=apltype;
        }
        $('#newsTable').bootstrapTable('refresh',{query: param});
    });
    $("#btnplus").click(function(){
        var url = "{:url('/oa/Oa/addNews')}";
        baseadd(url,"新增通知公告","modal-lg");
    })
});
function actFmt(value, row, index) {
    return '<a href="javascript:void(0)" class="newsdetail ml10"><i class="fa fa-edit text-navy"></i>&nbsp;编辑</a>&nbsp;&nbsp;' +
            '<a href="javascript:void(0)" class="newsdel ml10"><i class="fa fa-times text-danger"></i>&nbsp;删除</a>&nbsp;&nbsp;';
}
window.actEvt = {
    'click .newsdetail': function (e, value, row, index) {
        var url = "{:url('/oa/Oa/addNews/id/" + row.id + "')}";
        $.post(url, function(data) {
            show_modal("编辑通知公告",data,"modal-lg");
        });
    },
    'click .newsdel': function (e, value, row, index) {
        var url="{:url('/oa/Oa/deleteNews')}";
        basedelete("newsTable", url, row.id);
    }
};

function detailView(index, row){
    var baseinfo= '<div>'+row.des+'</div>';
    return baseinfo;
}
</script>



<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row">
        {include file="index@index/nav" /}
    </div>
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="tabs-container">
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-content" style="border:none;">
                                                <div class="row">
                                                    <div class="col-sm-12 m-b-xs"><span>标题：</span>

                                                        <input type="text" placeholder="请输入标题" class="input-sm form-control" id="newstitle">
                                                        <span>分类：</span>
                                                        <select id="newstype" style="height:30px;line-height:30px;" >
                                                            <option value="">--请选择--</option>
                                                            {:widget("user/HtmlWidget/initDictSelect",['con'=>array('code'=>array('like','1037%'),'level'=>'2','iqbtId'=>session('iqbtId'))])}

                                                        </select>
                                                        <button type="button" class="btn btn-primary btn-sm" id="btnapl">&nbsp;&nbsp;<i
                                                                class="fa fa-search"></i>&nbsp;&nbsp;查询&nbsp;&nbsp;
                                                        </button>
                                                        <button type="button" class="btn btn-primary btn-sm" id="btnplus">&nbsp;&nbsp;<i
                                                                class="fa fa-plus"></i>&nbsp;&nbsp;新增&nbsp;&nbsp;
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="table-responsive">
                                                    <table id="newsTable" class="resettable" data-toggle="table" data-url="{:url('/oa/Oa/getNews')}" data-search="false"
                                                           data-show-refresh="false" data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]" data-striped="true"
                                                           data-detail-view="true" data-detail-formatter="detailView" >
                                                        <thead>
                                                        <tr>
                                                            <th  data-field="title"> 标题</th>
                                                            <th data-field="typeText">分类</th>

                                                            <th data-field="sort">排序</th>
                                                            <th data-field="addtime">添加时间</th>
                                                            <th data-field="username">添加人</th>
                                                            <th data-field="action" data-formatter="actFmt" data-events="actEvt">操作</th>
                                                        </tr>
                                                        </thead>

                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--右侧部分结束-->
{include file="index@index/footer" /}