<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>慧云孵化器</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="__CSS__/bootstrap.min.css?v=3.4.0" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.3.0" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css?v=3.0.0" rel="stylesheet">
    <link href="__CSS__/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <!--[if lt IE 8]>
    <script>
        alert('H+已不支持IE6-8，请使用谷歌、火狐等浏览器\n或360、QQ等国产浏览器的极速模式浏览本页面！');
    </script>
    <![endif]-->
    <!-- 全局js -->
    <script src="__JS__/jquery-2.1.1.min.js"></script>
    <script src="__JS__/idcard.js"></script>
    <script src="__JS__/bootstrap.min.js?v=3.4.0"></script>
    <script src="__JS__/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="__JS__/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="__JS__/plugins/layer/layer.min.js"></script>
    <!-- 自定义js -->
    <script src="__JS__/hplus.min.js?v=3.0.0"></script>
    <script src="__JS__/contabs.min.js"></script>
    <!-- 第三方插件 -->
    <script src="__JS__/plugins/pace/pace.min.js"></script>
    <!--时间选择-->
    <link href='__PLUG__/datepicker/css/bootstrap-datetimepicker.min.css'  rel='stylesheet'/>
    <script src="__PLUG__/datepicker/js/bootstrap-datetimepicker.min.js"></script>
    <link href="__PLUG__/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <script src="__PLUG__/bootstrap-table/bootstrap-table.min.js"></script>
    <link href="__PLUG__/fileinput/css/fileinput.min.css" rel="stylesheet" >
    <script src="__PLUG__/fileinput/js/fileinput.min.js"></script>
    <script src="__PLUG__/fileinput/js/locales/zh.js"></script>
    <script src="__JS__/bootstrap_validate.js"></script>
    <script src="__JS__/base.js"></script>

    <!-- toastr CSS -->
    <link href="__PLUG__/toastr/toastr.css" rel="stylesheet">
    <!-- toastr Theme JavaScript -->
    <script src="__PLUG__/toastr/toastr.js"></script>
    <style type="text/css">
        .ibox-title{
            border-style: none;
        }
        .file-thumbnail-footer{
            display: none;
        }
        .file-drop-zone {
            border: 1px dashed #aaa;
            border-radius: 4px;
            height: 100%;
            text-align: center;
            vertical-align: middle;
            margin: 0px 0px 0px 0px;
            padding: 0px;
        }
        .file-input{
            float: right;
        }

        .control-label{font-size:14px;font-weight:normal;}
        legend{font-weight:bold;}
        .form-group table{width:96%;margin:auto;border-collapse: collapse;border:1px solid #cccccc;line-height:40px;}
        .form-group table td{width:25%;}
        .form-group table td.bt{text-align: right;}
        .form-group table td.nr{text-align:left;}
        .form-group table tr:hover td{background:#f1f1f1;}
    </style>
    <script type="text/javascript">
    </script>
    <script type="text/javascript">
        $(function () {
            $('.datepicker').datetimepicker({
                minView: "month",
                autoclose: true,//选中之后自动隐藏日期选择框
                todayBtn: true,//今日按钮
                forceParse : true,
                format: "yyyy-mm-dd"
            });

            $("#addpdt").click(function () {
                var url="{:url('/index/Apply/addEtprsAplPdt')}";
                $.post(url,function(data) {
                    show_modal("添加产品",data,"");
                });
            });
            $("#btnsave").click(function(){
                var worktypelen=$("input[name='worktype[]']:checked").length;
                if(worktypelen==0){
                    toastr.error("主要负责人创业特征必填");
                    return;
                }
                var cardno = $('#idcard').val();
                var idresult = checkCard(cardno);
                if(idresult['code']==0){
                    toastr.error(idresult['msg']);
                    return ;
                }
                var form = $("#aplForm");
                var err=custom_validate("aplForm");
                var url="{:url('/index/Apply/saveetprsapl')}";
                if(err==0){
                    toastr.error("有未通过的校验");
                    return;
                }else {
                    var data = form.serialize();
                    var thisobj = $(this);
                    thisobj.attr("disabled","true");
                    $.post(url, data, function (data) {
                        if (data.code == 1) {
                            thisobj.removeAttr("disabled");
                            toastr.success(data.msg);
                            location.href="{:url('/index/Apply/etprsAplInfo')}";
                        } else {
                            thisobj.removeAttr("disabled");
                            toastr.error(data.msg);
                        }
                    });
                }
            });
            var fileUrl="{:url('/user/Login/initfiles')}";
            var oFileInput = new FileInput();
            var url="{:url('/user/Login/saveaplfile')}";
            $.post(fileUrl,function(data) {
                var charterText=data.charter;
                if(charterText==""||charterText==undefined||charterText==null){
                    oFileInput.Init("charter",url,[],"hcharter");
                }else{
                    oFileInput.Init("charter",url,["<img src='__PUBLIC__/"+charterText+"' class='kv-preview-data file-preview-image' style='width:100%;height:160px;' />"],"hcharter");
                }

                var lastficereportText=data.lastficereport;
                if(lastficereportText==""||lastficereportText==undefined||lastficereportText==null){
                    oFileInput.Init("lastficereport",url,[],"hlastficereport");
                }else{
                    oFileInput.Init("lastficereport",url,["<img src='__PUBLIC__/"+lastficereportText+"' class='kv-preview-data file-preview-image' style='width:100%;height:160px;' />"],"hlastficereport");
                }

                var highetprscertText=data.highetprscert;
                if(highetprscertText==""||highetprscertText==undefined||highetprscertText==null){
                    oFileInput.Init("highetprscert",url,[],"hhighetprscert");
                }else{
                    oFileInput.Init("highetprscert",url,["<img src='__PUBLIC__/"+highetprscertText+"' class='kv-preview-data file-preview-image' style='width:100%;height:160px;' />"],"hhighetprscert");
                }

                var idcartfileText=data.idcartfile;
                if(idcartfileText==""||idcartfileText==undefined||idcartfileText==null){
                    oFileInput.Init("idcartfile",url,[],"hidcartfile");
                }else{
                    oFileInput.Init("idcartfile",url,["<img src='__PUBLIC__/"+idcartfileText+"' class='kv-preview-data file-preview-image' style='width:100%;height:160px;' />"],"hidcartfile");
                }

                var projectdescText=data.projectdesc;
                if(projectdescText==""||projectdescText==undefined||projectdescText==null){
                    oFileInput.Init("projectdesc",url,[],"hprojectdesc");
                }else{
                    oFileInput.Init("projectdesc",url,["<img src='__PUBLIC__/"+projectdescText+"' class='kv-preview-data file-preview-image' style='width:100%;height:160px;' />"],"hprojectdesc");
                }

                var patentText=data.patent;
                if(patentText==""||patentText==undefined||patentText==null){
                    oFileInput.Init("patent",url,[],"hpatent");
                }else{
                    oFileInput.Init("patent",url,["<img src='__PUBLIC__/"+patentText+"' class='kv-preview-data file-preview-image' style='width:100%;height:160px;' />"],"hpatent");
                }


                var edufileText=data.edufile;
                if(edufileText==""||edufileText==undefined||edufileText==null){
                    oFileInput.Init("edufile",url,[],"hedufile");
                }else{
                    oFileInput.Init("edufile",url,["<img src='__PUBLIC__/"+edufileText+"' class='kv-preview-data file-preview-image' style='width:100%;height:160px;' />"],"hedufile");
                }
            });
        });
        function actFmt(value, row, index) {
            return [
                '<a class="edit ml10" href="javascript:void(0)" title="修改">',
                '<i class="fa fa-edit text-navy"></i>&nbsp;&nbsp;编辑',
                '</a>',
                '<a class="remove ml10" href="javascript:void(0)" title="删除" onclick="dltpdt('+row.id+')">',
                '<i class="fa fa-times text-danger"></i>&nbsp;&nbsp;删除',

                '</a>'
            ].join('');
        }
        function dltpdt(id){
            var url="{:url('/index/Apply/dlteAplPdt')}";
            basedelete("aplpdtId", url, id);
        }
        window.actEvt = {
            'click .edit': function (e, value, row, index) {
                var url="{:url('/index/Apply/addEtprsAplPdt/id/"+row.id+"')}";
                $.post(url, function(data) {
                    show_modal("修改产品信息",data,"");
                });
            }
        };
        function FileInput() {
            var oFile = new Object();
            //初始化fileinput控件（第一次初始化）
            oFile.Init = function(ctrlName,url,initImg,hidefield) {
                //alert(JSON.stringify(initImg));
                var control = $('#' + ctrlName);
                //初始化上传控件的样式
                control.fileinput({
                    showPreview:false,
                    language: 'zh', //设置语言
                    uploadUrl:url+"?cate="+ctrlName, //上传的地址..
                    allowedFileExtensions: ['jpg','jpeg','gif','png',"doc","docx","xls","xlsx","ppt","pptx","pdf"],//接收的文件后缀
                    showUpload: false, //是否显示上传按钮
                    showCaption: true,//是否显示标题
                    browseClass: "btn btn-primary btn-inline", //按钮样式
                    dropZoneEnabled: false,//是否显示拖拽区域
                    initialPreview: initImg,
                    maxFileSize: 8192,//单位为kb，如果为0表示不限制文件大小
                    maxFileCount:0, //表示允许同时上传的最大文件个数
                    enctype: 'multipart/form-data',
                    validateInitialCount:false,
                    previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                    msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！"
                }).on("filebatchselected", function(event, files) {
                    $(this).fileinput("upload");
                });

                //导入文件上传完成之后的事件
                $("#"+ctrlName).on("fileuploaded", function (event, data, previewId, index) {
                    if(hidefield!=""){
                        $("#"+hidefield).val(data["response"]["data"]);
                    }
                    toastr.success("上传成功");
                });
            }
            return oFile;
        };
    </script>
</head>
<body class="fixed-sidebar full-height-layout gray-bg">
<div id="wrapper">
        <!--右侧部分开始-->
        <div id="page-wrapper" class="col-sm12 gray-bg dashbard-1" style="margin-left: 0;">
            <div class="row">
                <div class="ibox float-e-margins">
                           <div class="ibox-title">
                               <h2 style="text-align:center;font-weight:bold;">孵化器入驻申请</h2>
                           </div>
                           <div class="ibox-content" style="border:none;">
                                   <form action="" class="form-horizontal" method="post" id="aplForm">
                                       <fieldset>
                                           <div class="form-group">
                                               <div class="col-sm-6">
                                                   <label class="col-sm-4 control-label">申请企业名称：</label>
                                                   <div class="col-sm-8">
                                                       <input type="text" placeholder="申请企业名称" class="form-control require" id="name" name="name" value="{$data.name|default=''}">
                                                   </div>
                                               </div>
                                               <div class="col-sm-6">
                                                   <label class="col-sm-4 control-label">希望入驻时间：</label>
                                                   <div class="col-sm-8">
                                                       <input type="text" placeholder="希望入驻时间" class="form-control opt-require datepicker" id="planintime" name="planintime" value="{$data.planintime|default=date('Y-m-d',time())}">
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="form-group">
                                               <div class="col-sm-6">
                                                   <label class="col-sm-4 control-label">入驻期限(年)：</label>
                                                   <div class="col-sm-8">
                                                       <input type="text" placeholder="入驻期限（年）" class="form-control" id="timeline" name="timeline" value="{$data.timeline|default=''}">
                                                   </div>
                                               </div>
                                               <div class="col-sm-6">
                                                   <label class="col-sm-4 control-label">需求面积(㎡)：</label>
                                                   <div class="col-sm-8">
                                                       <input type="text" placeholder="需求面积（㎡）" class="form-control decimal" id="area" name="area" value="{$data.area|default='0.00'}">
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="form-group">
                                               <label class="col-sm-2 control-label">需求办公方式：</label>
                                               <div class="col-sm-10">
                                                   <div class="radio radio-success radio-inline">

                                                       <input type="radio" id="type1" value="1021001" name="workstyle" {if condition=" empty($data.workstyle) || $data.workstyle eq 1021001"}checked {/if} >
                                                       <label for="type1" class="text-success"><b>办公室</b></label>
                                                   </div>
                                                   <div class="radio radio-success radio-inline">
                                                       <input type="radio" id="type2" value="1021002" name="workstyle" {if condition="isset($data.workstyle)&&($data.workstyle=='1021002')"}checked{/if} >
                                                       <label for="type2" class="text-success"><b>工位</b></label>
                                                   </div>
                                                   <div class="radio radio-success radio-inline">
                                                       <input type="radio" id="type3" value="1021003" name="workstyle" {if condition="isset($data.workstyle)&&($data.workstyle=='1021003')"}checked{/if} >
                                                       <label for="type3" class="text-success"><b>虚拟入驻</b></label>
                                                   </div>

                                               </div>
                                           </div>
                                           <div class="form-group">
                                               <div class="col-sm-6">
                                                   <label class="col-sm-4 control-label">法人代表：</label>
                                                   <div class="col-sm-8">
                                                       <input type="text" placeholder="法人代表" class="form-control require" id="lealPerson" name="lealPerson" value="{$data.lealPerson|default=''}">
                                                   </div>
                                               </div>
                                               <div class="col-sm-6">
                                                   <label class="col-sm-4 control-label">成立时间：</label>
                                                   <div class="col-sm-8">
                                                       <input type="text" placeholder="成立时间" class="datepicker form-control opt-require" id="rgsttime" name="rgsttime" value="{$data.rgsttime|default=date('Y-m-d',time())}">
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="form-group">
                                               <div class="col-sm-6">
                                                   <label class="col-sm-4 control-label">注册资本(万元)：</label>
                                                   <div class="col-sm-8">
                                                       <input type="text" placeholder="注册资本(万元)" class="form-control decimal require" id="capital" name="capital" value="{$data.capital|default='0'}">
                                                   </div>
                                               </div>
                                               <div class="col-sm-6">
                                                   <label class="col-sm-4 control-label">纳税人类型：</label>
                                                   <div class="col-sm-8">
                                                        <select class="form-control require" id="taxpayertype" name="taxpayertype">
                                                            {:widget("user/HtmlWidget/initDictSelect",['con'=>array('code'=>array('like','1022%'),'level'=>'2'),'default'=>isset($data['taxpayertype'])?$data['taxpayertype']:'1022001'])}
                                                        </select>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="form-group">
                                               <div class="col-sm-6">
                                                   <label class="col-sm-4 control-label">上传营业执照：</label>
                                                   <div class="col-sm-8" title="允许上传文件后缀：.jpg, .jpeg, .gif, .png, .doc, .docx, .xls, .xlsx, .ppt, .pptx, .pdf" >
                                                       <input type="file" class=" form-control" id="charter" value="" >
                                                       <input type="hidden" data-placeholder="上传营业执照"  name="charter" id="hcharter" value='{if condition="$data.charter eq 0"}{else/}{$data.charter}{/if}' class="opt-require">
                                                   </div>
                                               </div>
                                               <div class="col-sm-6">
                                                   <label class="col-sm-4 control-label">上一年度财务报表：</label>
                                                   <div class="col-sm-8" title="允许上传文件后缀：.jpg, .jpeg, .gif, .png, .doc, .docx, .xls, .xlsx, .ppt, .pptx, .pdf">
                                                       <input type="file" class="form-control" id="lastficereport" value="">
                                                       <input type="hidden" data-placeholder="上一年度财务报表" class="opt-require"  name="lastficereport" id="hlastficereport" value='{if condition="$data.lastficereport eq 0"}{else/}{$data.lastficereport}{/if}'>
                                                   </div>
                                               </div>
                                           </div>

                                           <script>
                                               function senfe_id(sid){
                                                   id_body.style.display=sid;
                                               }
                                           </script>
                                           <div class="form-group">
                                               <label class="col-sm-2 control-label">是否高新企业：</label>
                                               <div class="col-sm-10">
                                                   <div class="radio radio-success radio-inline">
                                                       <input type="radio" id="highetprs1" value="1" checked name="highetprs" onchange="senfe_id('');"  {if condition="!isset($data.highetprs)||!empty($data.highetprs)"}checked{/if}>
                                                       <label for="highetprs1" class="text-success"><b>是</b></label>
                                                   </div>
                                                   <div class="radio radio-success radio-inline">
                                                       <input type="radio" id="highetprs2" value="0" name="highetprs" onchange="senfe_id('none');"  {if condition="isset($data.highetprs)&&empty($data.highetprs)"}checked{/if}>
                                                       <label for="highetprs2" class="text-success"><b>否</b></label>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="form-group hc" id=id_body style="display:{if condition="isset($data.highetprs)&&empty($data.highetprs)"}none {/if}">
                                               <div class="col-sm-6">
                                                   <label class="col-sm-4 control-label">高新企业认定时间：</label>
                                                   <div class="col-sm-8">
                                                       <input type="text" placeholder="高新企业认定时间" class="datepicker form-control" id="highetprstime" name="highetprstime" value="{$data.highetprstime|default=date('Y-m-d',time())}">
                                                   </div>
                                               </div>
                                               <div class="col-sm-6">
                                                   <label class="col-sm-4 control-label">高新企业认定证书：</label>
                                                   <div class="col-sm-8" title="允许上传文件后缀：.jpg, .jpeg, .gif, .png, .doc, .docx, .xls, .xlsx, .ppt, .pptx, .pdf">
                                                       <input type="file" class="form-control" id="highetprscert" value="">
                                                       <input type="hidden" placeholder="高新企业认定证书"  name="highetprscert" id="hhighetprscert" value="{$data.highetprscert|default=''}" >
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="form-group">
                                               <div class="col-sm-6">
                                                   <label class="col-sm-4 control-label">行业类型：</label>
                                                   <div class="col-sm-8">
                                                       <select id="industry" name="industry" style="width:100%;height:35px;line-height:35px;">
                                                           {:widget("user/HtmlWidget/initDictSelect",['con'=>array('code'=>array('like','1023%'),'level'=>'2'),'default'=>isset($data['industry'])?$data['industry']:"1023001"])}
                                                       </select>
                                                   </div>
                                               </div>
                                               <div class="col-sm-6">
                                                   <label class="col-sm-4 control-label">技术领域：</label>
                                                   <div class="col-sm-8">
                                                       <select id="technical" name="technical" style="width:100%;height:35px;line-height:35px;">
                                                           {:widget("user/HtmlWidget/initDictSelect",['con'=>array('code'=>array('like','1024%'),'level'=>'2'),'default'=>isset($data['technical'])?$data['technical']:"1024001"])}
                                                       </select>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="form-group">
                                               <div class="col-sm-6">
                                                   <label class="col-sm-4 control-label">负责人：</label>
                                                   <div class="col-sm-8">
                                                       <input type="text" placeholder="负责人" class="form-control require" id="leader" name="leader" value="{$data.leader|default=''}">
                                                   </div>
                                               </div>
                                               <div class="col-sm-6">
                                                   <label class="col-sm-4 control-label">性别：</label>
                                                   <div class="col-sm-8">
                                                       {:widget("user/HtmlWidget/initDictRedio",['iptname'=>'sex','con'=>['code'=>array('like','2001%'),'level'=>'2'],'default'=>isset($data['sex'])?$data['sex']:'2001001'])}
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="form-group">
                                               <div class="col-sm-6">
                                                   <label class="col-sm-4 control-label">联系方式：</label>
                                                   <div class="col-sm-8">
                                                       <input type="text" placeholder="联系方式" class="form-control mobile require" id="mobile" name="mobile" value="{$data.mobile|default=''}">
                                                   </div>
                                               </div>
                                               <div class="col-sm-6">
                                                   <label class="col-sm-4 control-label">邮箱：</label>
                                                   <div class="col-sm-8">
                                                       <input type="text" placeholder="邮箱" class="form-control email require" id="email" name="email" value="{$data.email|default=''}">
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="form-group">
                                               <div class="col-sm-6">
                                                   <label class="col-sm-4 control-label">身份证号：</label>
                                                   <div class="col-sm-8">
                                                       <input type="text" placeholder="身份证号" class="form-control require" id="idcard" name="idcard" value="{$data.idcard|default=''}">
                                                   </div>
                                               </div>
                                               <div class="col-sm-6">
                                                   <label class="col-sm-4 control-label">最高学历：</label>
                                                   <div class="col-sm-8">
                                                       <select class="" id="edu" name="edu" style="width:100%;height:35px;line-height:35px;">
                                                          {:widget("user/HtmlWidget/initDictSelect",['con'=>array('code'=>array('like','1010%'),'level'=>'2'),'default'=>isset($data['edu'])?$data['edu']:'1010001'])}
                                                       </select>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="form-group">
                                               <div class="col-sm-6">
                                                   <label class="col-sm-4 control-label">上传身份证：</label>
                                                   <div class="col-sm-8" title="允许上传文件后缀：.jpg, .jpeg, .gif, .png, .doc, .docx, .xls, .xlsx, .ppt, .pptx, .pdf">
                                                       <input type="file" class="form-control" id="idcartfile" value="">
                                                       <input type="hidden" data-placeholder="上传身份证" class="opt-require"  name="idcartfile" id="hidcartfile" value='{if condition="$data.idcartfile eq 0"}{else/}{$data.idcartfile}{/if}'>
                                                   </div>
                                               </div>
                                               <div class="col-sm-6">
                                                   <label class="col-sm-4 control-label">上传学历证：</label>
                                                   <div class="col-sm-8" title="允许上传文件后缀：.jpg, .jpeg, .gif, .png, .doc, .docx, .xls, .xlsx, .ppt, .pptx, .pdf">
                                                       <input type="file" class="form-control" id="edufile" value="">
                                                       <input type="hidden" data-placeholder="上传学历证" class="opt-require"  name="edufile" id="hedufile" value='{if condition="$data.edufile eq 0"}{else/}{$data.edufile}{/if}'>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="form-group">
                                               <div class="col-sm-12">
                                                   <label class="col-sm-2 control-label">主要负责人创业特征：</label>
                                                   <div class="col-sm-10">
                                                       {:widget("user/HtmlWidget/initDictCheckbox",['iptname'=>'worktype[]','con'=>['level'=>'2','code'=>['like','1025%']],'default'=>isset($data['worktype'])?$data['worktype']:''])}
                                                   </div>
                                               </div>
                                           </div>
                                           <style>
                                               .form-group table td input[type="text"]{height:35px;border:none;text-align:center;}
                                           </style>
                                           <div class="form-group">
                                               <div class="col-sm-12">
                                                   <label class="col-sm-2 control-label">人员情况：</label>
                                                   <div class="col-sm-10">
                                                       <table class="table table-bordered table-hover" style="text-align:center;width:100%;">
                                                           <tr>
                                                               <td>人员数量（人）</td>
                                                               <td>博士（人）</td>
                                                               <td>大专以上（人）</td>
                                                               <td>千人计划（人）</td>
                                                               <td>吸纳应届大学生（人）</td>

                                                           </tr>
                                                           <tbody>
                                                           <tr>
                                                               <td><input type="text" placeholder="人员数量" class="" id="total" name="total" value="{$data.total|default=''}"></td>
                                                               <td><input type="text" placeholder="博士" class="" id="doctor" name="doctor" value="{$data.doctor|default=''}"></td>
                                                               <td><input type="text" placeholder="大专以上" class="" id="junior" name="junior" value="{$data.junior|default=''}"></td>
                                                               <td><input type="text" placeholder="千人计划" class="" id="thousand" name="thousand" value="{$data.thousand|default=''}"></td>
                                                               <td><input type="text" placeholder="吸纳应届大学生" class="" id="student" name="student" value="{$data.student|default=''}"></td>
                                                           </tr>
                                                           </tbody>
                                                       </table>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="form-group">
                                               <div class="col-sm-12">
                                                   <label class="col-sm-2 control-label" id="pdtathor">主要产品及服务 <br />【<a href="#pdtathor" id="addpdt">新增</a>】 </label>
                                                   <div class="col-sm-10">
                                                       <table id="aplpdtId" class="table table-bordered table-hover resettable" data-toggle="table" data-url="{:url('/index/Apply/getPdts')}" data-search="false"
                                                       data-show-refresh="false" data-page-list="[5, 10, 20, 50, 100, 200]" data-striped="true" data-detail-view="false" style="text-align:center;">
                                                            <thead>
                                                            <tr>
                                                                <th data-field="pdtname">名称</th>
                                                                <th data-field="pdtdesc">说明</th>
                                                                <th data-field="action" data-formatter="actFmt" data-events="actEvt">操作</th>
                                                            </tr>
                                                            </thead>
                                                        </table>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="form-group">
                                               <div class="col-sm-6">
                                                   <label class="col-sm-4 control-label">项目计划书：</label>
                                                   <div class="col-sm-8" title="允许上传文件后缀：.jpg, .jpeg, .gif, .png, .doc, .docx, .xls, .xlsx, .ppt, .pptx, .pdf">
                                                       <input type="file" class="form-control " id="projectdesc" value="" placeholder="项目计划书">
                                                       <input type="hidden" data-placeholder="项目计划书" name="projectdesc" id="hprojectdesc" class="opt-require" value='{if condition="$data.projectdesc eq 0"}{else/}{$data.projectdesc}{/if}'>
                                                   </div>
                                               </div>
                                               <div class="col-sm-6">
                                                   <label class="col-sm-4 control-label">知识产权情况：</label>
                                                   <div class="col-sm-8" title="允许上传文件后缀：.jpg, .jpeg, .gif, .png, .doc, .docx, .xls, .xlsx, .ppt, .pptx, .pdf">
                                                       <input type="file" class="form-control" id="patent"  value="">
                                                       <input type="hidden" placeholder="知识产权情况"  name="patent" id="hpatent" value="{$data.patent|default=''}">
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="form-group">
                                               <div class="col-sm-12">
                                                   <label class="col-sm-2 control-label">其它未尽事项说明：</label>
                                                   <div class="col-sm-10">
                                                       <textarea class="" placeholder="其它未尽事项说明" id="desc" rows="4" name="desc" style="width:100%;">{$data.desc|default=''}</textarea>

                                                   </div>
                                               </div>
                                           </div>
                                           <div style="width:100%;overflow:hidden;text-align:center;">
                                               <!--<input type="hidden" name="apltype" value="0">-->
                                               <input type="hidden" id="id" value="{$id|default=0}" name="id">
                                               <button type="button" class="btn btn-primary btn-sm" id="btnsave">&nbsp;&nbsp;<i class="fa fa-check"></i>&nbsp;&nbsp;提交&nbsp;&nbsp;</button>
                                               <button type="button" class="btn btn-danger btn-sm">&nbsp;&nbsp;<i class="fa fa-remove"></i>&nbsp;&nbsp;重置&nbsp;&nbsp;</button>
                                           </div>
                                       </fieldset>
                                   </form>
                           </div>
                        </div>
                </div>
            </div>
        </div>
        <!--右侧部分结束-->
</div>
</body>
</html>