{include file="index@index/header" /}
<!--右侧部分开始-->

<link href="__PLUG__/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<script src="__PLUG__/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript">
    $(function () {


    });
    function actFmt(value, row, index) {
        var html='<a class="detail ml10" href="javascript:void(0)" title="详情" onclick="deltRenewApl('+row.id+')"><i class="fa fa-file"></i>&nbsp;详情</a>&nbsp;&nbsp;';
        if(row.status=="1027001"){
            html+='<a class="pass ml10" href="javascript:void(0)" title="通过"><i class="fa fa-check text-navy"></i>&nbsp;通过</a>&nbsp;&nbsp;' +
            '<a class="back ml10" href="javascript:void(0)" title="退回"><i class="fa fa-times text-danger"></i>&nbsp;退回</a>&nbsp;&nbsp;';
        }
        return html;
    }

    window.actEvt = {
        'click .detail': function (e, value, row, index) {
            var url="{:url('/index/Apply/renewdetail/id/"+row.id+"')}";
            location.href=url;
        },
        'click .pass': function (e, value, row, index) {
            var table="etprsAplRenew";
            $(".btn-sure").attr('disabled',false);
            var data='<div class="modal-header"><button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>' +
                    '<h4 class="modal-title" id="myModalLabel"></h4></div><div class="modal-body"><p>确定要通过续约审核么？</p>'+
                    '<input type="checkbox" name="sms" id="sms3" value="1"><label for="sms3">&nbsp;&nbsp;短信通知</label></div>'  +
                    '<div class="modal-footer"><button class="btn btn-primary btn-sure" onclick="setAplStatus(\''+table+'\',\''+row.id+'\',\'1027002\',\'sms3\')">确定</button><button class="btn btn-glyph " data-dismiss="modal" onclick="return false;">取消</span></button></div>';
            show_modal("提示",data,"modal-sm");
        },
        'click .back': function (e, value, row, index) {
            var table="etprsAplRenew";
            $(".btn-sure").attr('disabled',false);
            var data='<div class="modal-header"><button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>' +
                    '<h4 class="modal-title" id="myModalLabel"></h4></div><div class="modal-body"><p>确定要退回续约申请么？</p>'+
                    '<input type="checkbox" name="sms" id="sms4" value="1"><label for="sms4">&nbsp;&nbsp;短信通知</label></div>'  +
                    '<div class="modal-footer"><button class="btn btn-primary btn-sure" onclick="setAplStatus(\''+table+'\',\''+row.id+'\',\'1027000\',\'sms4\')">确定</button><button class="btn btn-glyph " data-dismiss="modal" onclick="return false;">取消</span></button></div>';
            show_modal("提示",data,"modal-sm");
        }
    };
    function setAplStatus(table,id,status,smsid){
        var url = "{:url('/index/Apply/setRenewStatus')}";
        var sms = '2';
        if($('#'+smsid).is(':checked')) {
            sms ='1';
        }
        $(".btn-sure").attr('disabled',true);
        $.post(url,{"table":table,"id":id,"status":status,'sms':sms},function(data) {
            $('#myModal').modal('hide');

            if(data.code==1){
                if(data.msg ==0){
                    alert('短信发送失败，请人工通知');
                }
                if(status=='1027002'){
                    toastr.success("设置成功，请确认缴费标准");
                    var url="{:url('/index/Apply/renewRoom/id/"+id+"')}";
                    location.href = url;
                }else{
                    toastr.success("退回操作成功");
                    $("#renewAplTable").bootstrapTable('refresh');
                }

               // baseadd(url,"请确认房间续约缴费类型","modal-lg");
               // $.post(url,{"id":id},function(data) {
               //     show_modal("确认房间缴费类型",data,"modal-lg");
              //  });

              //  $("#passrenewAplTable").bootstrapTable('refresh');
            }else{
                toastr.error(data.msg);
            }
        });
    }
    function initOther(){
    }

</script>
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row">
        {include file="index@index/nav" /}
    </div>
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">待处理</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">已通过</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-content" style="border:none;">

                                                <div class="table-responsive">
                                                    <table id="renewAplTable" class="resettable" data-toggle="table" data-url="{:url('/index/Apply/getRenewApl',array('status'=>'1027001'))}" data-search="false"
                                                           data-show-refresh="false" data-page-list="[5, 10, 20, 50, 100, 200]" data-striped="true" data-detail-view="false">
                                                        <thead>
                                                        <tr>
                                                            <th data-field="etprsName">企业名称</th>
                                                            <th data-field="roomNo">申请房间号</th>
                                                            <th data-field="mobile">联系电话</th>
                                                            <th data-field="settled">入驻时间</th>
                                                            <th data-field="startTime">续约开始时间</th>
                                                            <th data-field="endTime">续约结束时间</th>
                                                            <th data-field="addtime">申请时间</th>
                                                            <th data-field="statusText">状态</th>
                                                            <th data-field="action" data-formatter="actFmt" data-events="actEvt">操作
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-content" style="border:none;">

                                                <div class="table-responsive">
                                                    <table id="passrenewAplTable" class="resettable" data-toggle="table" data-url="{:url('/index/Apply/getRenewApl',array('status'=>'1027002'))}" data-search="false"
                                                           data-show-refresh="false" data-page-list="[5, 10, 20, 50, 100, 200]" data-striped="true" data-detail-view="false">
                                                        <thead>
                                                        <tr>
                                                            <th data-field="etprsName">企业名称</th>
                                                            <th data-field="roomNo">申请房间号</th>
                                                            <th data-field="mobile">联系电话</th>
                                                            <th data-field="settled">入驻时间</th>
                                                            <th data-field="startTime">续约开始时间</th>
                                                            <th data-field="endTime">续约结束时间</th>
                                                            <th data-field="addtime">续约申请时间</th>
                                                            <th data-field="statusText">状态</th>
                                                            <th data-field="action" data-formatter="actFmt" data-events="actEvt">操作
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--右侧部分结束-->
{include file="index@index/footer" /}