{include file="user@login/addheader" /}
<script src="__JS__/bootstrap_validate.js"></script>

<script type="text/javascript">

</script>

<form id="backTable" action="{:url('/index/Apply/passFirstBack')}" method="post" tableId="aplTable" class="form-horizontal">
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-4 control-label">退回企业：</label>
            <div class="col-sm-8">
                {$etprsName|default=''}
            </div>
        </div>
        <div class="form-group">
            <span><label class="col-sm-4 control-label" for="desc">退回理由：</label>
            <div class="col-sm-8">
                <textarea name="desc" id="desc" class="form-control" rows="4"></textarea>
            </div></span>
        </div>
    </div>
    <div class="modal-footer">
        <span  id="msg" style="margin-right:6em;">
          <input type="checkbox" name="sms" id="sms" value="1"><label for="sms">&nbsp;&nbsp;短信通知</label>
        </span>
        <input type="hidden" id="status" name="status" value="{$status|default=''}">
        <input type="hidden" id="id" name="id" value="{$id|default='0'}">
        <button type="button" class="btn btn-primary btn-save" id="btn-save"><i class="fa fa-save"></i> <span
                class="bold">保存</span></button>
        <button type="button" class="btn btn-glyph" data-dismiss="modal"><i class="fa fa-close"></i> <span class="bold">关闭</span>
        </button>
    </div>
</form>