{include file="user@login/addheader" /}
<link href="__PLUG__/fileinput/css/fileinput.min.css" rel="stylesheet" >
<script src="__PLUG__/fileinput/js/fileinput.min.js"></script>
<script src="__PLUG__/fileinput/js/locales/zh.js"></script>
<script type="text/javascript">
    $(function(){var a="{:url('/Index/smntUpload',array('dir'=>'smnt'))}";$("#deviceDesc").summernote({lang:"zh-CN",focus:!0,height:100,callbacks:{onImageUpload:function(b){img=smntUploadFile(b,$("#deviceDesc"),a,"__PUBLIC__")}}})});


    $(function(){
        var oFileInput = new FileInput();
        var url="{:url('/oa/Oa/uploadFile')}";
        var bannerText=$('#hbanner').attr('data-path');
        if(bannerText==""||bannerText==undefined||bannerText==null){
            oFileInput.Init("banner",url,[],"hbanner");
        }else{
            oFileInput.Init("banner",url,["<img src='__PUBLIC__/"+bannerText+"' class='kv-preview-data file-preview-image' style='width:100%;height:160px;'/>"],"hbanner");
        }
    });

    function FileInput() {
        var oFile = new Object();
        //初始化fileinput控件（第一次初始化）
        oFile.Init = function(ctrlName,url,initImg,hidefield) {
            //alert(JSON.stringify(initImg));
            var control = $('#' + ctrlName);
            //初始化上传控件的样式
            control.fileinput({
                showPreview:true,
                language: 'zh', //设置语言
                uploadUrl:url+"?cate="+ctrlName, //上传的地址..
                allowedFileExtensions: ['jpg','jpeg','gif','png'],//接收的文件后缀
                showUpload: false, //是否显示上传按钮
                showCaption: true,//是否显示标题
                browseClass: "btn btn-primary btn-inline", //按钮样式
                dropZoneEnabled: true,//是否显示拖拽区域
                initialPreview: initImg,
                maxFileSize: 3100,//单位为kb，如果为0表示不限制文件大小
                maxFileCount:0, //表示允许同时上传的最大文件个数
                enctype: 'multipart/form-data',
                validateInitialCount:false,
                previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！"
            }).on("filebatchselected", function(event, files) {
                $(this).fileinput("upload");
            });

            //导入文件上传完成之后的事件
            $("#"+ctrlName).on("fileuploaded", function (event, data, previewId, index) {
                if(hidefield!=""){
                    $("#"+hidefield).val(data["response"]["data"]);
                }
                toastr.success("上传成功");
            });
        }
        return oFile;
    };
</script>
<form id="roomform" action="{:url('/service/Service/saveMeetroom')}" method="post" tableId="roomtable" class="form-horizontal">
    <div class="modal-body">

        <div class="form-group">
            <span><label class="col-sm-4 control-label" for="name">会议室名称</label>
            <div class="col-sm-8">
                <input class="form-control require" name="name" id="name" placeholder="会议室名称" value="{$data.name|default=''}">
            </div></span>
        </div>
        <div class="form-group">
            <span><label class="col-sm-4 control-label" for="address">会议室地址</label>
            <div class="col-sm-8">
                <input class="form-control require" name="address" id="address" placeholder="楼/楼层/房间号" value="{$data.address|default=''}">
            </div></span>
        </div>
        <div class="form-group">
            <span><label class="col-sm-4 control-label" for="acmodate">可容纳人数</label>
            <div class="col-sm-8">
                <input class="form-control number" name="acmodate" id="acmodate" placeholder="可容纳人数" value="{$data.acmodate|default=''}">
            </div></span>
        </div>
        <div class="form-group">
            <span><label class="col-sm-4 control-label" for="fee">使用费用（元）</label>
            <div class="col-sm-8">
                <input class="form-control number" name="fee" id="fee" placeholder="会议室费用" value="{$data.fee|default=0.00}">
            </div></span>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">会议室图片：</label>
            <div class="col-sm-8">
                <input id="banner" type="file"  multiple>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">会议室设备详情：</label>
            <div class="col-sm-8">
                <div class="summernote" id="deviceDesc" name="deviceDesc">
                    {$data.deviceDesc|default=''}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="hidden" id="id" name="id" value="{$data.id|default='0'}">
        <input type="hidden" id="hbanner" name="banner" data-path="{$data.savePath|default=''}" value="{$data.banner|default=''}">
        <button type="button" class="btn btn-primary btn-save" id="btnsave"><i class="fa fa-save"></i> <span
                class="bold">保存</span></button>
        <button type="button" class="btn btn-glyph" data-dismiss="modal"><i class="fa fa-close"></i> <span class="bold">关闭</span>
        </button>
    </div>
</form>
