{include file="index@index/header" /}
<link href="__PLUG__/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<script src="__PLUG__/bootstrap-table/bootstrap-table.min.js"></script>

<script type="text/javascript">
    $(function(){
        $("#btnadd").click(function(){
            var url=$(this).attr("data-url");
            baseadd(url,"添加会议室信息","modal-lg");
        });

        $("#btnedit").click(function(){
            var url=$(this).attr("data-url");
            baseedit("roomtable",url,"编辑会议室信息","modal-lg");
        });

        $("#btndelete").click(function(){
            var url=$(this).attr("data-url");
            id = mulitecheck("roomtable");
            if (id != null) {
                basedelete("roomtable", url, id);
            }
        });
    });

    function actFmt(value, row, index) {
        var html='<a class="edit ml10" href="javascript:void(0)" title="编辑"><i class="fa fa-edit text-navy"></i>&nbsp;编辑</a>&nbsp;<a class="remove ml10" href="javascript:void(0)" title="删除"><i class="fa fa-times text-danger"></i>&nbsp;删除</a>';
        return html;
    }

    window.actEnt = {
        'click .edit': function (e, value, row, index) {
            var url="{:url('/service/Service/addMeetroom/id/"+row.id+"')}";
            $.post(url, function(data) {
                show_modal("编辑会议室信息",data,"modal-lg");
            });
        },
        'click .remove': function (e, value, row, index) {
            var url="{:url('/service/Service/deleteMeetroom')}";
            basedelete("roomtable", url, row.id);

        }
    };
    function detailView(index, row){
        var tb1="detail"+row.id;
        var tb2="apl"+row.id;
        var tb3="pass"+row.id;
        var tb4="history"+row.id;

        var apls="";
        var pass="";
        var history="";
        var aplsdata = row.apl.apls;
        if(aplsdata.length>0){
            $('#recordtable').bootstrapTable('destroy');
            $('#recordtable').bootstrapTable({
                data: aplsdata
            });
            apls=$("#view_record").html();
        }

        var passdata = row.apl.pass;
        if(passdata.length>0){
            $('#recordtable').bootstrapTable('destroy');
            $('#recordtable').bootstrapTable({
                data: passdata
            });
            pass=$("#view_record").html();
        }

        var historydata = row.apl.history;
        if(historydata.length>0){
            $('#recordtable').bootstrapTable('destroy');
            $('#recordtable').bootstrapTable({
                data: historydata
            });
            history=$("#view_record").html();
        }
        //console.log(apls);

        var html='<div class="tabs-container"> <ul class="nav nav-tabs"> ' +
                '<li class="active"><a data-toggle="tab" href="#tab1"> 设备详情</a> </li> ' +
                '<li class=""><a data-toggle="tab" href="#tab2"> 申请记录</a> </li>' +
                '<li class=""><a data-toggle="tab" href="#'+tb3+'"> 已审批记录</a> </li>' +
                '<li class=""><a data-toggle="tab" href="#'+tb4+'"> 历史记录</a> </li>' +
                ' </ul>' +
                ' <div class="tab-content "> ' +
                '<div id="tab1" class="tab-pane active"><div class="panel-body"> '+row.deviceDesc+' </div> </div>' +
                '<div id="tab2" class="tab-pane"> <div class="panel-body" id="act-desc"> '+apls+' </div></div>' +
                '<div id="'+tb3+'" class="tab-pane"> <div class="panel-body" id="act-desc"> '+pass+' </div></div>' +
                '<div id="'+tb4+'" class="tab-pane"> <div class="panel-body" id="act-desc"> '+history+' </div></div>' +
                '</div></div>';
        return html;
    }


    function aplFmt(value, row, index) {
        var nw=Date.parse(new Date());
        if(row.status=='0'&&parseInt(nw/1000)<parseInt(row.startTime)){
            var html='<a class="apl ml10" onclick="statCfm(\''+row.id+'\',\'1\')" href="javascript:void(0)" title="通过"><i class="fa fa-check text-navy"></i>&nbsp;通过</a><a class="apl ml10" onclick="statCfm(\''+row.id+'\',\'2\')" href="javascript:void(0)" title="拒绝"><i class="fa fa-times text-danger"></i>&nbsp;拒绝</a>';
        }
        return html;
    }
    function statCfm(id,status){
        var data='<div class="modal-header"><button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button><h4 class="modal-title" id="myModalLabel"></h4></div><div class="modal-body">确定要进行该操作？</div><div class="modal-footer"><button class="btn btn-primary" onclick="setStat(\''+id+'\',\''+status+'\')">确定</button><button class="btn btn-glyph " data-dismiss="modal" onclick="return false;">取消</span></button></div>';
        show_modal("提示",data,"modal-sm");
    }
    function setStat(id,status){
        var url="{:url('/service/Service/roomAplStat')}";
        $.post(url,{status:status,id:id}, function(data) {
            if(data.code==1){
                toastr.success("操作成功");
                $('#roomtable').bootstrapTable('refresh');
                $('#myModal').modal('hide');
            }else{
                toastr.error(data.msg);
            }
        });
    }
    function redhandle(value, row, index){
        if(value >0){
            return '<span style="color:red;">'+value+'条</span>';
        }else{
            return value;
        }
    }

</script>
<div id="page-wrapper" class="gray-bg dashbard-1">
<div class="row">
    {include file="index@index/nav" /}
</div>
<div id="view_record" style="display:none;">
    <table id="recordtable"  data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]" data-striped="true">
        <thead>
        <tr>
            <th data-field="name">申请企业</th>
            <th data-field="startEnd">起止时间</th>
            <th data-field="statusText">状态</th>
            <th data-field="desc">说明</th>

            <th data-field="htynum">历史申请次数</th>

            <th data-field="action"  data-formatter="aplFmt">操作</th>
        </tr>
        </thead>
    </table>
</div>
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="tabs-container">
                    <div class="tab-content">
                        <div class="panel-body">
                            <div class="row">
                                <div id="toolbar" class="col-sm-12 m-b-xs">
                                    <button type="button" class="btn btn-success btn-sm" id="btnadd" data-url="{:url('/service/Service/addMeetroom')}">
                                        <i class="glyphicon glyphicon-plus"></i>&nbsp;新增
                                    </button>
                                    <button type="button" class="btn btn-info btn-sm" id="btnedit" data-url="{:url('/service/Service/addMeetroom')}">
                                        <i class="glyphicon glyphicon-edit"></i>&nbsp;编辑
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm" id="btndelete" data-url="{:url('/service/Service/deleteMeetroom')}">
                                        <i class="glyphicon glyphicon-trash"></i>&nbsp;删除
                                    </button>
                                </div>
                                <table id="roomtable" class="resettable" data-search="true" data-toggle="table"
                                       data-show-refresh="true" data-toolbar="#toolbar" data-pagination="true" data-url="{:url('/service/Service/getMeetroom')}"
                                       data-page-list="[5, 10, 20, 50, 100, 200]" data-striped="true" data-detail-view="true" data-detail-formatter="detailView">
                                    <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        <th data-field="name" data-sortable="true">会议室名称</th>
                                        <th data-field="address" data-sortable="true">会议室地址</th>
                                        <th data-field="acmodate" data-sortable="true">可容纳人数</th>
                                        <th data-field="unhandle" data-sortable="true" data-formatter="redhandle">待处理申请</th>

                                        <th data-field="action" data-formatter="actFmt" data-events="actEnt">操作</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--右侧部分结束-->
{include file="index@index/footer" /}
