{include file="index@index/header" /}
<!--右侧部分开始-->
<link href="__PLUG__/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<script src="__PLUG__/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript">

    $(function(){
        summary('','','');
        $("#btnsearch").click(function(){
            var years = $('#years').val();
            var quarter = $('#quarter').val();
            var months = $('#months').val();
            var param=new Object();
            if(years !=""){
                param.years = years;
            }
            if(quarter !=""){
                param.quarter = quarter;
            }
            if(months !=""){
                param.months = months;
            }
            summary(years,quarter,months);
            $('#stateTable').bootstrapTable('refresh',{query: param});
        });

        $("#btnexport").click(function(){
            var ids=[];
            var tablename = $(this).attr('table');
            var table = $('#'+tablename);
            var url = $(this).attr('data-url');
            var selections=table.bootstrapTable('getSelections');
            $.each(selections, function(index, value, array) {
                ids.push(value.id);
            });
            if(ids.length==0){
                toastr.warning("至少选择一条记录");
                return null;
            }else{
                ids=ids.join(",");
                if(ids != null){
                    var query = 'id='+ids;
                    if( url.indexOf('?')>0 ){
                        url += '&' + query;
                    }else{
                        url += '?' + query;
                    }
                    location.href = url ;
                }
            }

        });
    });

    function summary(years,quarter,months){
        var url = "{:url('service/Service/totalSummary')}";
        $.post(url,{'years':years,'quarter':quarter,'months':months},function(data){
            for(var o in data){
                $('#'+o).text(data[o]);
            }
        })
    }



    function add0(m){return m<10?'0'+m:m }
    function format(time,type)
    {
//shijianchuo是整数，否则要parseInt转换
        var time = new Date(time*1000);
        var y = time.getFullYear();
        var m = time.getMonth()+1;
        var d = time.getDate();
        // var h = time.getHours();
        //  var mm = time.getMinutes();
        //  var s = time.getSeconds();
        // return y+'-'+add0(m)+'-'+add0(d)+' '+add0(h)+':'+add0(mm)+':'+add0(s);
        if(type ==1){
            return y+'-'+add0(m);
        }
        return y+'-'+add0(m)+'-'+add0(d);
    }
    function timeFmt(value,row,index){
        if(value!=null){
            return format(parseInt(value));
        }
    }
    function monthFmt(value,row,index) {
        if (value != null) {
            return format(parseInt(value), 1);
        }
    }

    function optFmt(value, row, index) {
        return '<a href="javascript:void(0)" onclick="detail('+row.id+')" class=" ml10" title="详情"><i class="fa fa-file-text text-blue"></i>&nbsp;详情</a>';

    }
    function detail(id){
        var url = "{:url('/service/Service/stateDetail/id/"+id+"')}";
        location.href = url ;
    }

</script>

<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row">
        {include file="index@index/nav" /}
    </div>
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="tabs-container">
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-content" style="border:none;">
                                                <div class="row">
                                                    <div class="col-sm-12 m-b-xs">
                                                        <span>报表年份：</span>
                                                        <select class=" form-control  inline" id="years">
                                                            <option value="">----请选择----</option>
                                                            {for start="2014" end="2026"}
                                                            <option value="{$i}">{$i}&nbsp;年</option>
                                                            {/for}
                                                        </select>
                                                        <span>报表季度：</span>
                                                        <select class=" form-control  inline" id="quarter">
                                                            <option value="">----请选择----</option>
                                                            {for start="1" end="5"}
                                                            <option value="{$i}">{$i}&nbsp;季度</option>
                                                            {/for}
                                                        </select>
                                                        <span>报表月份：</span>
                                                        <select class=" form-control  inline" id="months">
                                                            <option value="">----请选择----</option>
                                                            {for start="1" end="13"}
                                                            <option value="{$i}">&nbsp;{$i}&nbsp;月</option>
                                                            {/for}
                                                        </select>
                                                        <button type="button" class="btn btn-primary btn-sm" id="btnsearch">
                                                            <i class="fa fa-search"></i>
                                                            查询
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-sm ml10" id="btnexport" data-url="{:url('/service/Service/exportState')}" table="stateTable">
                                                            <i class="fa fa-share-square-o"></i>
                                                            导出
                                                        </button>

                                                    </div>
                                                </div>
                                                <div class="table-responsive">
                                                    <table id="stateTable" class="resettable" data-toggle="table" data-url="{:url('/service/Service/getEtprsState')}" data-search="false"
                                                           data-show-refresh="false" data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]" data-striped="true" data-detail-view="false" >
                                                        <thead>
                                                        <tr>
                                                            <th data-field="state" data-checkbox="true"></th>
                                                            <th  data-field="etprsname">企业名称</th>
                                                            <th  data-field="month">报表月份</th>
                                                            <th data-field="person" >联系人</th>
                                                            <th data-field="mobile">联系电话</th>
                                                            <th data-field="addtime" data-formatter="timeFmt">填报时间</th>
                                                            <th data-field="action" data-formatter="optFmt" data-events="optEvt">操作</th>
                                                        </tr>
                                                        </thead>

                                                    </table>
                                                </div>
                                                <div class="form-group">
                                                    <button type="button" class="btn btn-primary btn-md" id="btnsearch" style="margin:1em 0;">汇总数据</button>
                                                    <table class="table table-bordered table-hover">
                                                        <style>
                                                            .blue{color: #337ab7;}
                                                        </style>
                                                        <tbody>
                                                        <tr>
                                                            <td>企业总数</td>
                                                            <td id="etprsTotal" class="blue"></td>
                                                            <td>高新企业总数</td>
                                                            <td id="highetprs" class="blue"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>累计-月总营业额（万元）</td>
                                                            <td id="income" class="blue"></td>
                                                            <td>累计-月总税收（万元）</td>
                                                            <td id="tax" class="blue"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>最新-企业职工总数（人）</td>
                                                            <td id="total" class="blue"></td>
                                                            <td>最新-应届大学生人数（人）</td>
                                                            <td id="student" class="blue"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>最新-博士（人）</td>
                                                            <td id="doctor" class="blue"></td>
                                                            <td>最新-千人计划（人）</td>
                                                            <td id="thousand" class="blue"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>累计-申请专利数（含软件著作权）（件）</td>
                                                            <td id="invent" class="blue"></td>
                                                            <td>累计-研发经费投入强度（RD投入）（万元）</td>
                                                            <td id="rdinput" class="blue"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>累计-获天使或风险投资额（万元）</td>
                                                            <td id="investment" class="blue"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--右侧部分结束-->
{include file="index@index/footer" /}