{include file="index/header" /}
<link href="__PLUG__/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<script src="__PLUG__/bootstrap-table/bootstrap-table.min.js"></script>

<script type="text/javascript">
    function actionFormatter(){var d="";return d='<a class="edit ml10" href="javascript:void(0)" title="修改"><i class="glyphicon glyphicon-edit"></i></a><a class="remove ml10" href="javascript:void(0)" title="删除"><i class="glyphicon glyphicon-remove"></i></a>'}function detailView(a,b){var c="<div>"+b.detail+"</div>";return c}$(function(){$("#btnadd").click(function(){var a=$(this).attr("data-url");baseadd(a,"添加外部资源","modal-lg")}),$("#btnedit").click(function(){var a=$(this).attr("data-url");baseedit("externaltable",a,"编辑外部资源信息","modal-lg")}),$("#btndelete").click(function(){var a=$(this).attr("data-url");id=mulitecheck("externaltable"),null!=id&&basedelete("externaltable",a,id)})}),window.actionEvents={"click .edit":function(a,b,c){var e="{:url('/Resos/addExternal/id/"+c.id+"')}";$.post(e,function(a){show_modal("编辑资源/需求信息",a,"modal-lg")})},"click .remove":function(a,b,c){var e="{:url('/Resos/deleteExternal')}";basedelete("externaltable",e,c.id)}};
</script>
</head>

<body class="animated fadeInRight">

<div class="wrapper wrapper-content">
    <div class="col-sm-12">
        <!-- Example Events -->
        <div>
            <div id="toolbar" class="btn-group">
                <button type="button" class="btn btn-success" id="btnadd" data-url="{:url('/Resos/addExternal')}">
                    <i class="glyphicon glyphicon-plus">新增</i>
                </button>
                <button type="button" class="btn btn-info" id="btnedit" data-url="{:url('/Resos/addExternal')}">
                    <i class="glyphicon glyphicon-edit">编辑</i>
                </button>
                <button type="button" class="btn btn-default" id="btndelete" data-url="{:url('/Resos/deleteExternal')}">
                    <i class="glyphicon glyphicon-trash">删除</i>
                </button>
            </div>
            <table id="externaltable" class="resettable" data-toggle="table" data-url="{:url('/Resos/getExternal')}?category={$category}" data-search="true"
                   data-show-refresh="true" data-toolbar="#toolbar" data-pagination="true"
                   data-page-list="[5, 10, 20, 50, 100, 200]" data-striped="true" data-detail-view="true" data-detail-formatter="detailView" >
                <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-field="name" data-sortable="true">资源名称</th>
                        <th data-field="categoryText" data-sortable="true">资源分类</th>
                        <th data-field="etprsName" data-sortable="true">企业名称</th>
                        <th data-field="desc">说明</th>
                        <th data-field="contact" data-sortable="true">联系人</th>
                        <th data-field="mobile" data-sortable="true">电话</th>
                        <th data-field="email" data-sortable="true">email</th>
                        <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents">操作</th>
                    </tr>
                </thead>
            </table>
        </div>
        <!-- End Example Events -->
    </div>
</div>


</body>


<!--  /table_bootstrap.html -->
</html>
