{include file="index@index/header" /}
<link href="__PLUG__/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<script src="__PLUG__/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__JS__/echarts.min.js"></script>
<link href='__PLUG__/datepicker/css/bootstrap-datetimepicker.min.css' rel='stylesheet'/>
<script src="__PLUG__/datepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('.datepicker').datetimepicker({
            minView: "month",
            autoclose: true,//选中之后自动隐藏日期选择框
            todayBtn: true,//今日按钮
            forceParse : true,
            format: "yyyy-mm-dd"
        });
        //工位情况统计
        var etprsurl="{:url('/statis/Statis/deskStatis')}";
        $.post(etprsurl, function (data) {
            initChart(data.desk);
            $("#useroom").html(data.desk[1]["value"]);
            $("#freeroom").html(data.desk[0]["value"]);
        });

        $("#btnexport").click(function () {
            var ths=$("#statistab thead tr th");
            var len=ths.length;
            var titles=[];
            var rlt=[];
            for (var i = 0; i < len; i++) {
                titles[i]=$("#statistab thead tr th:eq("+i+")").html();
            }
            rlt[0]=titles;
            var trs=$("#statistab tbody tr");
            for (var i = 0; i < trs.length; i++) {
                var tr = trs[i];
                var contants=[];
                for (var j = 0; j < len; j++) {
                    contants[j]=$("#statistab tbody tr:eq("+i+") td:eq("+j+")").html();
                }
                rlt[i+1]=contants;
            }
            if(rlt.length>1){
            var url="{:url('/statis/Statis/exportdata')}?data="+JSON.stringify(rlt)+"&filename=工位使用情况统计";;
            location.href=url;
            }else{
                toastr.warning("没有数据需要导出");
            }
        });

    });
    //id,title,color,legend,xaxis,data
    function initChart(data){
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById("chart"));

        // 指定图表的配置项和数据
        var option = {
            color:['#1ab394','#EF5352'],
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                x: 'left',
                data:['已用工位','空置工位']
            },
            series: [

                {
                    name:'工位使用情况统计',
                    type:'pie',
                    radius: ['0', '55%'],
                    data:data
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option,true);
    }

</script>


<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row">
        {include file="index@index/nav" /}
    </div>
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <ul class="nav nav-tabs">
                    <li class=""><a href="{:url('/statis/Statis/room')}" aria-expanded="true">房间使用情况统计</a></li>
                    <li class="active"><a href="{:url('/statis/Statis/desk')}" aria-expanded="false">工位使用情况统计</a></li>
                </ul>
                            <div class="row">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="col-sm-12">
                                                <form>
                                                    <div class="col-sm-8">
                                                        <div class="col-sm-2"><button type="button" class="btn btn-warning ml10" id="btnexport"><i class="fa fa-share-square-o"></i>导出</button></div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="ibox float-e-margins">
                                                <div class="ibox-content" style="border:none;">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-hover" id="statistab">
                                                            <thead>
                                                            <tr>
                                                                <th>分类</th>
                                                                <th>统计</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody id="etprsBody">
                                                                <tr>
                                                                    <td>已用工位（个）</td>
                                                                    <td id="useroom"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>空置工位（个）</td>
                                                                    <td id="freeroom"></td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--图表-->
                                        <div class="col-sm-6">
                                            <div class="ibox-content" id="chart"  style="height:600px; width: 600px;"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>


            </div>
        </div>
    </div>
</div>

<!--右侧部分结束-->
{include file="index@index/footer" /}
