{include file="index@index/header" /}
<link href="__CSS__/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<!--右侧部分开始-->
<link href="__PLUG__/fileinput/css/fileinput.min.css" rel="stylesheet" >
<script src="__PLUG__/fileinput/js/fileinput.min.js"></script>
<script src="__PLUG__/fileinput/js/locales/zh.js"></script>
<!--时间选择-->
<link href='__PLUG__/datepicker/css/bootstrap-datetimepicker.min.css' rel='stylesheet' />
<script src="__PLUG__/datepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="__JS__/bootstrap_validate.js"></script>
<script type="text/javascript">
    $(function () {
        $('.datepicker').datetimepicker({
            minView: "month",
            autoclose: true,//选中之后自动隐藏日期选择框
            todayBtn: true,//今日按钮
            forceParse : true,
            format: "yyyy-mm-dd"
        });
        var chars=['taxfile','security','reward'];
        initfile(chars);

        $("#btnsave").click(function () {
            var len = $("input[name='roomNo[]']:checkbox:checked").length;
            if(len==0){
                toastr.error("至少选择一个续约房间");
                return;
            }
            var err=custom_validate("renewForm");
            if(err==0){
                return;
            }else {
                var data=$("#renewForm").serialize();
                var url="{:url('/index/Apply/addrenewapl')}";
                $.post(url, data, function (data) {
                    if (data.code == 1) {
                        toastr.success(data.msg);
                        location.href="{:url('/index/Apply/etprsrenewapl')}";
                    } else {
                        toastr.error(data.msg);
                    }
                });
            }
        });

        jQuery(document.body).on('change','.sltopt',function(){
            var url="{:url('/index/Apply/initEndtime')}";
            $.post(url, {'startTime':$("#startTime").val(),'months':$('input:radio[name="sltopt"]:checked').val()}, function (data) {
                $("#endTime").val(data);
            });
        })
    });

    function initfile(fields){
        var ctmparams=new Array();
        $.each(fields,function(index,value){
            var tmp = new Object();
            tmp.name=value;
            tmp.value=$("#h"+value).val();
            ctmparams[ctmparams.length] = tmp;
        });
        var fileUrl="{:url('/index/Index/initfiles')}";
        var oFileInput = new FileInput();
        var url="{:url('/user/Login/saveaplfile')}";
        $.post(fileUrl,serializeJson(ctmparams),function(data) {
            $.each(fields,function(index,value){
                var tmpText=data[value];
                if(tmpText==""||tmpText==undefined||tmpText==null){
                    oFileInput.Init(value,url,[],"h"+value);
                }else{
                    oFileInput.Init(value,url,["<img src='__PUBLIC__/"+tmpText+"' class='kv-preview-data file-preview-image' style='width:100%;height:160px;' />"],"h"+value);
                }
            });

        });
    }
    function FileInput() {
        var oFile = new Object();
        //初始化fileinput控件（第一次初始化）
        oFile.Init = function(ctrlName,url,initImg,hidefield) {
            //alert(JSON.stringify(initImg));
            var control = $('#' + ctrlName);
            //初始化上传控件的样式
            control.fileinput({
                showPreview:false,
                language: 'zh', //设置语言
                uploadUrl:url+"?cate="+ctrlName, //上传的地址..
                allowedFileExtensions: ['jpg','jpeg','gif','png',"doc","docx","xls","xlsx","ppt","pptx"],//接收的文件后缀
                showUpload: false, //是否显示上传按钮
                showCaption: true,//是否显示标题
                browseClass: "btn btn-primary btn-inline", //按钮样式
                dropZoneEnabled: false,//是否显示拖拽区域
                initialPreview: initImg,
                maxFileSize: 3100,//单位为kb，如果为0表示不限制文件大小
                maxFileCount:0, //表示允许同时上传的最大文件个数
                enctype: 'multipart/form-data',
                validateInitialCount:false,
                previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！"
            }).on("filebatchselected", function(event, files) {
                $(this).fileinput("upload");
            });

            //导入文件上传完成之后的事件
            $("#"+ctrlName).on("fileuploaded", function (event, data, previewId, index) {
                if(hidefield!=""){
                    $("#"+hidefield).val(data["response"]["data"]);
                }
                toastr.success("上传成功");
            });
        }
        return oFile;
    };
</script>
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row">
        {include file="index@index/nav" /}
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins" style="background:#FFF;">
                <div class="ibox-title">
                    <h5>新增续约申请</h5>
                    <div class="ibox-content">
                        <form class="form-horizontal m-t" id="renewForm" method="post" action="">

                            <div class="form-group">
                                <label class="col-sm-3 control-label">企业名称：</label>
                                <div class="col-sm-7">
                                    {$etprs.name|default=''}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">续约房间：</label>
                                <div class="col-sm-7">
                                    {:widget("user/HtmlWidget/initCommonCheckbox",['roomNo[]','table'=>'EstateRoom','con'=>array('etprsId'=>$etprs['id']),'default'=>isset($data['roomNo'])?$data['roomNo']:'','field'=>'roomNo,roomNo'])}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">联系电话：</label>
                                <div class="col-sm-7">
                                    <input id="mobile" type="text" class="form-control mobile require" name="mobile" value="{$data.mobile|default=''}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">入驻时间：</label>
                                <div class="col-sm-7">
                                    <input id="settled" type="text" class="form-control datepicker opt-require" name="settled" value="{$data.settled|default=''}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">工商注册时间：</label>
                                <div class="col-sm-7">
                                    <input id="rgsttime" type="text" class="form-control datepicker opt-require" name="rgsttime" value="{$data.rgsttime|default=''}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">本入驻年度营业额(万元)：</label>
                                <div class="col-sm-7">
                                    <input id="turnover" type="text" class="form-control require" name="turnover" value="{$data.turnover|default=''}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">本入驻年度上缴税收(万元)：</label>
                                <div class="col-sm-7">
                                    <input id="tax" type="text" class="form-control require" name="tax" value="{$data.tax|default=''}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">本入驻年度财务报表：</label>
                                <div class="col-sm-7" title="允许上传文件后缀：.jpg, .jpeg, .gif, .png, .doc, .docx, .xls, .xlsx, .ppt, .pptx, .pdf">
                                    <input type="file" class="" id="taxfile" value="">
                                    <input type="hidden"  name="taxfile" id="htaxfile" class="form-control opt-require" value="{$data.taxfile|default=''}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">吸纳就业人数：</label>
                                <div class="col-sm-7">
                                    <input id="emplmt" type="text" class="form-control require" name="emplmt" value="{$data.emplmt|default=''}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">上传社保证明：</label>
                                <div class="col-sm-7" title="允许上传文件后缀：.jpg, .jpeg, .gif, .png, .doc, .docx, .xls, .xlsx, .ppt, .pptx, .pdf">
                                    <input type="file" class="" id="security" value="">
                                    <input type="hidden"  name="security" id="hsecurity" class="form-control opt-require" value="{$data.security|default=''}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">吸纳见习人数：</label>
                                <div class="col-sm-7">
                                    <input id="trainee" type="text" class="form-control require" name="trainee" value="{$data.trainee|default=''}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">入驻期间有无特殊贡献或受特别奖励（上传）：</label>
                                <div class="col-sm-7" title="允许上传文件后缀：.jpg, .jpeg, .gif, .png, .doc, .docx, .xls, .xlsx, .ppt, .pptx, .pdf">
                                    <input type="file" class="" id="reward" value="">
                                    <input type="hidden" class="opt-require"  name="reward" id="hreward" value="{$data.reward|default=''}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">续约开始时间：</label>
                                <div class="col-sm-7">
                                    <input id="startTime" type="text" class="form-control opt-require" name="startTime" value="{$data.startTime|default=time()|date='Y-m-d',###}" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">续约结束时间：</label>
                                <div class="col-sm-7  m-b-xs">
                                    <input id="endTime" type="text" class="form-control datepicker opt-require" name="endTime" value="{$data.endTime|default=time()|date='Y-m-d',###}" readonly>
                                    <div class="radio radio-success radio-inline">
                                        <input type="radio" id="m1" value="6" class="sltopt" name="sltopt" {if condition="isset($data.months)&&($data.months==6)"}checked{/if}>
                                        <label for="m1" class="text-success"><b>6个月</b></label>
                                    </div>
                                    <div class="radio radio-success radio-inline">
                                        <input type="radio" id="m2" value="12" class="sltopt" name="sltopt" {if condition="empty($data.months)||(isset($data.months)&&($data.months==12))"}checked{/if}>
                                        <label for="m2" class="text-success"><b>一年</b></label>
                                    </div>
                                    <div class="radio radio-success radio-inline">
                                        <input type="radio" id="m3" value="24" class="sltopt" name="sltopt" {if condition="isset($data.months)&&($data.months==24)"}checked{/if}>
                                        <label for="m3" class="text-success"><b>二年</b></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <input type="hidden" id="id" name="id" value="{$data.id|default=''}">
                                    <button class="btn btn-primary" type="button" id="btnsave">&nbsp;&nbsp;<i class="fa fa-check"></i>&nbsp;&nbsp;提交申请</button>
                                    <span style="color: #ff0000;" id="msg">{$msg|default=''}</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--右侧部分结束-->
{include file="index@index/footer" /}