{include file="user@login/addheader" /}
<script src="__JS__/bootstrap_validate.js"></script>
<!--时间选择-->
<link href='__PLUG__/datepicker/css/bootstrap-datetimepicker.min.css'  rel='stylesheet'/>
<script src="__PLUG__/datepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('.datepicker').datetimepicker({
            minView: "month",
            autoclose: true,//选中之后自动隐藏日期选择框
            todayBtn: true,//今日按钮
            forceParse : true,
            format: "yyyy-mm-dd"
        });
        $("#feestyle").change(function () {
            var feestyle=$("#feestyle").val();
            if(feestyle!=''){
                var url="{:url('/fice/Fice/getFeeItems')}";
                var html='<option value="">--缴费项目--</option>';
                $.post(url,{feestyle:feestyle},function(data) {
                    for (var i = 0; i < data.length; i++) {
                        var obj = data[i];
                        html=html+'<option value="'+obj.id+'">'+obj.name+'</option>'
                    }
                    $("#item").html(html);
                });
            }else{
                $("#item").html('<option value="">--缴费项目--</option>');
            }
        });
        $("#item").change(function () {
            var item=$("#item").val();
            if(item!=''){
                var url="{:url('/fice/Fice/getFeeItemsOpt')}";
                var html='<option value="">--收费标准--</option>';
                $.post(url,{item:item},function(data) {
                    for (var i = 0; i < data.length; i++) {
                        var obj = data[i];
                        html=html+'<option value="'+obj.id+'">'+obj.name+'</option>'
                    }
                    $("#itemopt").html(html);
                });
            }else{
                $("#itemopt").html('<option value="">--收费标准--</option>');

            }

        });


    });
</script>


<form action="{:url('/fice/Fice/saveFeeCfg')}" method="post" tableId="feetable" class="form-horizontal m-t" id="feeForm">
    <div class="form-group">
        <label class="col-sm-3 control-label">缴费类型：</label>
        <div class="col-sm-8">
            <select class="inline form-control" id="feestyle" >
                <option value="">--缴费类型--</option>
                {:widget("user/HtmlWidget/initDictSelect",['con'=>array('code'=>array('in','1029002,1029004'),'level'=>'2'),'default'=>''])}
            </select>
        </div>
    </div>
    <div class="form-group" >
        <label class="col-sm-3 control-label">缴费项目：</label>
        <div class="col-sm-8">
            <select class="inline form-control" id="item" name="itemId">
                <option value="">--缴费项目--</option>
            </select>
        </div>
    </div>
    <div class="form-group" >
        <label class="col-sm-3 control-label">缴费标准：</label>
        <div class="col-sm-8">
            <select class="inline form-control" id="itemopt" name="optId">
                <option value="">--缴费标准--</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-3">
            <span style="color: red" id="msg"></span>
            <input type="hidden" id="id" name="id" value="{$data.id|default='0'}">
            <input type="hidden" id="feetype" name="feetype" value="{$feetype|default=''}">
            <button type="button" class="btn btn-primary btn-sm btn-save">&nbsp;&nbsp;<i class="fa fa-check"></i>&nbsp;&nbsp;保存&nbsp;&nbsp;</button>
        </div>
    </div>
</form>
